Options All -Indexes

<Files .htaccess>
order allow,deny
deny from all
</Files>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^$ public/ [L]
  RewriteRule (.*) public/$1 [L]
</IfModule>


# 本番環境
# SetEnv APP_ENV 'production'

# ローカル環境
SetEnv APP_ENV 'local'