.category-tabs {
	font-weight: bold;
	margin-top: 6px;
	margin-bottom: 6px;
	width: 100%;
}

.category-tabs a {
	display: inline-flex;
	background-color: #fff5e5;
	width: 11%;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	color: #333;
	text-decoration: none;
	padding-top: 8px;
	padding-bottom: 8px;
	white-space: pre;
	align-items: center;
}

.category-tabs a:hover {
	color: #fff;
	background-color: #333;
}

.category-tabs .active {
	color: #fff;
	background-color: #333;
}

.w-60 {
	width: 60%;
}

.material-icons {
	display: inline-flex;
	vertical-align: middle;
}

.circle {
	top:33%;
    left:16%;
	position: absolute;
	width: 6%;
}

.circle-inside {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
}