<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title></title>
</head>
<body>
	<div class="wrapper">
	<h2>管理者用</h2>
	<div class="form-wrapper">
	
	<form name="passwordForm" onsubmit="return false">
			<div id="password-error"></div>
    	<label for="password">パスワード</label>
    	<input type="text" name="password" value="{{password}}" required="required">
    	<input type="button" value="更新" id="send-password">
	</form>
    <form name="taxForm" onsubmit="return false">
    	<div id="tax-error"></div>
    	<label for="password">消費税率</label>
    	<input type="number" name="tax" value="{{tax}}">
    	<input type="button" value="更新" id="send-tax">
    </form>
  </div>
  </div>
  <script type="text/javascript">
    document.getElementById('send-password').addEventListener('click', () => {
      const password = document.forms.passwordForm.password.value;

      fetch('password', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({password})
      }).then(response => {
        document.getElementById('password-error').innerHTML 
        	= (response.ok)? "更新成功" : "更新に失敗しました";
      });
    })

    document.getElementById('send-tax').addEventListener('click', () => {
      const tax = document.forms.taxForm.tax.value;

      fetch('tax', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({tax})
      }).then(response => {
        document.getElementById('tax-error').innerHTML 
        	= (response.ok)? "更新成功" : "更新に失敗しました";
      });
    })
  </script>
</body>
</html>