{% extends 'base.html' %}

{% block title %}バカ安八百屋ドライブスルー注文{% endblock %}

{% block content %}
	<div class="container">
	<div id="hello-customer" class="pb-2"></div>
	<!-- おすすめ商品カルーセル -->
	<div id="recommendCarousel" class="carousel slide mb-3 carousel-dark" data-bs-ride="carousel" data-bs-interval="9000">
  	<div class="carousel-inner">
  		{% for p in recommends %}
  			{% if loop.index == 1 %}
				<div class="carousel-item active">
				{% else %}
				<div class="carousel-item">
  			{% endif %}
					<div class="card w-60 mx-auto">
						<img src="/static/img/tmp/{{p.img_name}}" class="rounded img-fluid">
						<div class="card-img-overlay">
							{% if p.stock_flg == '0' %}
							<img src="/static/img/urikire_widget_img.png" class="img-fluid">
							{% endif %}
						</div>
						<div class="card-body pt-2 px-3 pb-0">
							<div class="card-title fw-bold lh-1">
								{{p.product_name}}<span class="small">({{p.production_area}}産)</span>
							</div>
							<div class="text-end fw-bolder text-danger lh-1">
								<small class="text-muted"> {{p.unit_quantity}} </small>
								<span>¥{{p.unit_price}}</span>
								<span>(¥{{(p.unit_price * tax_rate)|round}})</span>
							</div>
							<hr class="text-success my-2">
    					<div class="card-text lh-1" style="font-size:0.8rem">{{p.comment}}</div>
    					<hr class="text-success my-2">
  					</div>
  					<div class="card-footer border-white bg-white pt-0 text-center position-relative">
    					{% if p.stock_flg == '0' %}
    					<button class="btn rounded-pill btn-sm text-nowrap text-white cart-btn" data-bs-toggle="modal" data-bs-target="#modal" style="z-index:1;font-size:0.7rem" disabled>
    					&nbsp;<span class="material-icons">add_shopping_cart</span>&nbsp;カートに追加&nbsp;&nbsp;
    					</button>
    					{% else %}
    					<button class="btn rounded-pill btn-sm text-nowrap text-white cart-btn" data-bs-toggle="modal" data-bs-target="#modal" style="z-index:1;font-size:0.7rem" onclick="setupModal({{p|json_encode()}})">
    					&nbsp;<span class="material-icons">add_shopping_cart</span>&nbsp;カートに追加&nbsp;&nbsp;
    					</button>
    					{% endif %}
  					</div>
					</div>
				</div>
			{% endfor %}
  	</div>
  	<button class="carousel-control-prev" type="button" data-bs-target="#recommendCarousel" data-bs-slide="prev">
  	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  	  <span class="visually-hidden">Previous</span>
  	</button>
  	<button class="carousel-control-next" type="button" data-bs-target="#recommendCarousel" data-bs-slide="next">
  	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  	  <span class="visually-hidden">Next</span>
  	</button>
	</div>
	<!-- おすすめ商品カルーセル -->

	<!-- カテゴリータブ -->
	<div class="nav category-tabs mb-3">
		{% for c in categories %}
			{% if loop.index == 1 %}
				<a href="#{{c.category_id}}" class="nav-item category-tab active" data-bs-toggle="tab">{{c.category_name}}</a>
			{% else %}
    		<a href="#{{c.category_id}}" class="nav-item category-tab" data-bs-toggle="tab">{{c.category_name}}</a>
    	{% endif %}
   	{% endfor %}
	</div>
	<!-- カテゴリータブ -->

	<!-- 商品一覧 -->
	<div class="tab-content mb-4">
	{% for c in categories %}
		{% if loop.index == 1 %}
		<div id="{{c.category_id}}" class="tab-pane active show">
		{% else %}
		<div id="{{c.category_id}}" class="tab-pane">
  	{% endif %}
			<div class="row">
    	{% for p in products %}
    		{% if p.category_id == c.category_id %}
				<div class="card col-6">
					<img src="/static/img/tmp/{{p.img_name}}" class="rounded img-fluid">
					<div class="card-img-overlay">
						{% if p.stock_flg == '0' %}
						<img src="/static/img/urikire_widget_img.png" class="img-fluid">
						{% endif %}
					</div>
					<div class="card-body pt-2 px-2 pb-0" style="font-size:0.8rem">
						<div class="card-title fw-bold lh-1">
							{{p.product_name}}<span class="small">({{p.production_area}}産)</span>
						</div>
						<div class="text-end fw-bolder text-danger lh-1" style="font-size:0.8rem">
							<small class="text-muted"> {{p.unit_quantity}} </small>
							<span>¥{{p.unit_price}}</span>
							<span>(¥{{(p.unit_price * tax_rate)|round}})</span>
						</div>
						<hr class="text-success my-2">
    				<div class="card-text lh-1" style="font-size:0.8rem">{{p.comment}}</div>
    				<hr class="text-success my-2">
  				</div>
  				<div class="card-footer position-relative border-white bg-white pt-0 text-center">
    				{% if p.stock_flg == '0' %}
    				<button class="btn rounded-pill btn-sm text-nowrap text-white cart-btn" data-bs-toggle="modal" data-bs-target="#modal" style="z-index:1;font-size:0.7rem" disabled>
    					&nbsp;<span class="material-icons">add_shopping_cart</span>&nbsp;カートに追加&nbsp;&nbsp;
    				</button>
    				{% else %}
    				<button class="btn rounded-pill btn-sm text-nowrap text-white cart-btn" data-bs-toggle="modal" data-bs-target="#modal" style="z-index:1;font-size:0.7rem" onclick="setupModal({{p|json_encode()}})">
    					&nbsp;<span class="material-icons">add_shopping_cart</span>&nbsp;カートに追加&nbsp;&nbsp;
    				</button>
    				{% endif %}
    			</div>
				</div>
				{% endif %}
  		{% endfor %}
  		</div>
  	</div>
  {% endfor %}
  </div>
  <!-- 商品一覧 -->

	<!-- カート追加モーダル -->
	<div class="modal fade" id="modal">
  	<div class="modal-dialog">
    	<div class="modal-content">
      	<div class="modal-header">
        	<h5 class="modal-title">個数入力</h5>
        	<button type="button" class="btn-close" id="modalClose" data-bs-dismiss="modal" aria-label="Close"></button>
      	</div>
      	<input type="hidden" id="modalProductId">
      	<div class="modal-body">
      		<div id="modalImg"></div>
					<div>
						<div class="fw-bold fs-3">
							<span id="modalProductName"></span>
							(<span class="small" id="modalProductionArea"></span>)
						</div>
						<div class="text-end fw-bolder fs-3 text-danger">
							<small class="text-muted fs-5" id="modalUnitQuantity"></small>
							¥<span id="modalUnitPrice"></span> (¥<span id="modalTaxPrice"></span>)
						</div>
					</div>
				</div>
    		<div class="modal-footer">
    			<button onclick="countDown('orderCount')">ー</button>
    			<input type="number" id="orderCount" min="0" max="99" value="0">
    			<button onclick="countUp('orderCount')">＋</button>個
    			<button class="btn cart-btn rounded-pill btn-sm text-nowrap text-white" style="z-index:1;" onclick="addToCart()">
    				&nbsp;<span class="material-icons">add_shopping_cart</span>&nbsp;カートに追加&nbsp;&nbsp;
    			</button>
  			</div>
  			<div id="modalMessage" class="position-absolute top-50 start-50 translate-middle" style="font-size:0.9em">
  			</div>
    	</div>
  	</div>
	</div>
	<!-- カート追加モーダル -->

	<!-- 注文確認モーダル -->
	<div class="modal fade" id="modal2">
  	<div class="modal-dialog">
    	<div class="modal-content">
      	<div class="modal-header">
        	<h5 class="modal-title">注文確認</h5>
        	<button type="button" class="btn-close" id="modal2Close" data-bs-dismiss="modal" aria-label="Close"></button>
      	</div>
      	<div class="modal-body" id="modal2Body"></div>
			<div class="modal-footer">
				<button class="btn btn-secondary rounded-pill btn-sm text-nowrap text-white" data-bs-toggle="modal" data-bs-target="#modal4" style="z-index:1;" onclick="setupModal4()">
					&nbsp;&nbsp;変更&nbsp;&nbsp;
				</button>
				<button class="btn btn-info rounded-pill btn-sm text-nowrap text-white" data-bs-toggle="modal" data-bs-target="#modal3" style="z-index:1;" onclick="setupModal3()">
					&nbsp;&nbsp;支払・受取設定へ&nbsp;&nbsp;
				</button>
  			</div>
    	</div>
  	</div>
	</div>
	<!-- 注文確認モーダル -->

	<!-- 支払・受取設定モーダル -->
	<div class="modal fade" id="modal3">
  	<div class="modal-dialog">
    	<div class="modal-content">
      	<div class="modal-header">
        	<h5 class="modal-title">支払・受取設定</h5>
        	<button type="button" class="btn-close" id="modal3Close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
		<form onsubmit="return false" name="modal3Form">
      		<div class="modal-body">
      			<div class="mb-1">
   					<label for="receive_time">時間</label>
   					<select name="receive_time" class="form-select">
   						<option value="10:00 〜 11:00" label="10:00 〜 11:00">10:00 〜 11:00</option>
   						<option value="11:00 〜 12:00" label="11:00 〜 12:00">11:00 〜 12:00</option>
   						<option value="12:00 〜 13:00" label="12:00 〜 13:00">12:00 〜 13:00</option>
   						<option value="13:00 〜 14:00" label="13:00 〜 14:00">13:00 〜 14:00</option>
   						<option value="14:00 〜 15:00" label="14:00 〜 15:00">14:00 〜 15:00</option>
   						<option value="15:00 〜 16:00" label="15:00 〜 16:00">15:00 〜 16:00</option>
   						<option value="16:00 〜 17:00" label="16:00 〜 17:00">16:00 〜 17:00</option>
   						<option value="17:00 〜 18:00" label="17:00 〜 18:00">17:00 〜 18:00</option>
   						<option value="18:00 〜 19:00" label="18:00 〜 19:00">18:00 〜 19:00</option>
   					</select>
   				</div>
      			<div class="mb-1">
   					<label for="how_to_pay">支払方法</label>
   					<select name="how_to_pay" class="form-select">
   						<option value="現金" label="現金">現金</option>
   						<option value="PayPay" label="PayPay">PayPay</option>
   					</select>
   				</div>
   				<div class="mb-1">
   					<label for="how_to_receive">受取方法</label>
   					<select name="how_to_receive" class="form-select" id="how_to_receive">
   						<option value="ドライブスルー" label="ドライブスルー">ドライブスルー</option>
   						<option value="配達" label="配達(平日のみ)">配達(平日のみ)</option>
   					</select>
   				</div>
   				<div class="mb-1">
   					<label for="address">住所 <span class="text-danger small">※配達のお客様のみ</spa></label>
   					<input type="text" name="address" class="form-control">
   				</div>
   				<div class="mb-1">
   					<label for="coupon">クーポン</label>
   					<select name="coupon" id="coupon" class="form-select">
   						<option value="0" label="利用しない">利用しない</option>
   					</select>
   				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary rounded-pill btn-sm text-nowrap text-white" data-bs-toggle="modal" data-bs-target="#modal2" style="z-index:1;" onclick="setupModal2()">
					&nbsp;&nbsp;戻る&nbsp;&nbsp;
				</button>
				<button class="btn btn-info rounded-pill btn-sm text-nowrap text-white" onclick="openModal5()" style="z-index:1;">
					&nbsp;&nbsp;次へ&nbsp;&nbsp;
				</button>
  			</div>
  		</form>
  		<div id="modal3Message" class="position-absolute top-50 start-50 translate-middle"></div>
    	</div>
  	</div>
	</div>
	<!-- 支払・受取設定モーダル -->

	<!-- 注文変更モーダル -->
	<div class="modal fade" id="modal4">
  	<div class="modal-dialog">
    	<div class="modal-content">
      	<div class="modal-header">
        	<h5 class="modal-title">注文変更</h5>
        	<button type="button" class="btn-close" id="modal4Close" data-bs-dismiss="modal" aria-label="Close"></button>
      	</div>
      	<div class="modal-body" id="modal4Body"></div>
			<div class="modal-footer">
				<button class="btn btn-secondary rounded-pill btn-sm text-nowrap text-white" data-bs-toggle="modal" data-bs-target="#modal2" style="z-index:1;" onclick="setupModal2()">
					&nbsp;&nbsp;戻る&nbsp;&nbsp;
				</button>
				<button class="btn btn-success rounded-pill btn-sm text-nowrap text-white" data-bs-toggle="modal" data-bs-target="#modal2" style="z-index:1;" onclick="updateCart();setupModal2();">
				&nbsp;&nbsp;保存&nbsp;&nbsp;
				</button>
  			</div>
    	</div>
  	</div>
	</div>
	<!-- 注文変更モーダル -->

	<!-- 最終確認モーダル -->
	<div class="modal fade" id="modal5">
  	<div class="modal-dialog">
    	<div class="modal-content">
      	<div class="modal-header">
        	<h5 class="modal-title">最終確認</h5>
        	<button type="button" class="btn-close" id="modal5Close" data-bs-dismiss="modal" aria-label="Close"></button>
      	</div>
      	<div class="modal-body" id="modal5Body"></div>
			<div class="modal-footer">
				<button class="btn btn-secondary rounded-pill btn-sm text-nowrap text-white" data-bs-toggle="modal" data-bs-target="#modal3" style="z-index:1;" onclick="setupModal3()">
					&nbsp;&nbsp;戻る&nbsp;&nbsp;
				</button>
				<button class="btn btn-primary rounded-pill btn-sm text-nowrap text-white"style="z-index:1;" onclick="finalizeOrder()">
					&nbsp;&nbsp;注文確定&nbsp;&nbsp;
				</button>
  			</div>
  		</div>
		<div id="modal5Message" class="position-absolute top-50 start-50 translate-middle"></div>
  	</div>
	</div>
	<!-- 最終確認モーダル -->

	</div>

	<!-- 消費税 -->
	<input type="hidden" id="tax_rate" value="{{tax_rate}}}">
	<!-- 消費税 -->
	<div>
		<img src="/static/img/baka_footer.png" style="width:100%;height:auto">
	</div>
	<div class="fixed-bottom" data-bs-toggle="modal" data-bs-target="#modal2" onclick="setupModal2()">
		<div class="circle" id="circle"></div>
		<img src="/static/img/baka_cart.png" style="width:100%;height:auto">
	</div>
	<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
	<script src="/static/js/lineup.js"></script>
{% endblock %}