{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="wrapper">
	<h2>管理者用</h2>
	<div class="form-wrapper">
	<div class="error">
		{{error}}
	</div>
  	<form method="POST">
    	<div class="form-item">
     		<label for="password">パスワード</label>
    		<input type="password" name="password" required="required">
    	</div>
    	<div class="button-wrapper">
    		<input type="submit" id="signin" value="ログイン"></input>
    	</div>
  	</form>
  </div>
  </div>
{% endblock %}