{% extends 'base.html' %}

{% block title %}バカ安八百屋ドライブスルー管理ページ{% endblock %}

{% block content %}
	<div class="container">
		<h2>管理者用</h2>
		<form method="POST" class="mx-4 px-4 py-3 bg-light card">
			<div class="text-danger">{{error}}</div>
			<label for="password" class="form-label">パスワード</label>
			<div class="row">
				<div class="col-7">
					<input type="password" class="form-control" name="password" required="required">
				</div>
				<div class="col-5">
					<input type="submit" class="btn btn-secondary" value="ログイン"></input>
				</div>
			</div>
		</form>
	</div>
{% endblock %}