<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1.0, user-scalable=no" />
	<title>毎日回してお得に買い物!!バカ安ルーレット！</title>
	<link rel="stylesheet" href="/static/css/odometer.css" />
	<script src="/static/js/odometer.js"></script>
	<link rel="stylesheet" href="/static/css/slot.css">
</head>
<body>
<div class="wrapper">
	<input type="hidden" id="slotrates" value="{{slotrates}}">
	<img src="/static/img/slottop.png" class="slottop">
	<div class="slot">
		<div id="odometer" class="odometer"></div>
		<input type="image" src="/static/img/slotbutton.png" class="slotbutton" id="slotbutton">
		<audio id="drum_roll_audio">
		    <source src="/static/audio/drum_roll.mp3" type="audio/mp3">
		</audio>
		<audio id="drum_roll_end_audio">
		    <source src="/static/audio/drum_roll_end.mp3" type="audio/mp3">
		</audio>
		<audio id="hit_audio">
		    <source src="/static/audio/hit.mp3" type="audio/mp3">
		</audio>
		<audio id="miss_audio">
		    <source src="/static/audio/miss.mp3" type="audio/mp3">
		</audio>
	</div>
	<img src="/static/img/slotatari.png" class="slotatari">
</div>

<div class="youtube-frame-wrapper">
	<iframe class="youtube-frame" src="https://www.youtube.com/embed/f5jveIO2GPM" frameborder="0"></iframe>
</div>

<script src="/static/js/slot.js"></script>
</body>
</html>