<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
	<div class="wrapper">
	<h2>管理者用</h2>
	{{products}}
  <form method="POST" enctype="multipart/form-data">
    <label for="product_name">商品名</label>
   	<input type="text" name="product_name" required="required">
   	<label for="category_id">分類</label>
   	<select name="category_id">
   		{% for c in categories %}
   			<option value="{{c.id}}" label="{{c.category_name}}"></option>
   		{% endfor %}
   	</select>
   	数量・価格
   	<input type="text" name="quantity" placeholder="1袋, 1/2カット, 1本, etc">
   	<label for="quantity">あたり</label>
   	<input type="number" name="price" required="required">
   	<label for="price">円</label>
   	<label for="production_area">産地</label>
   	<input type="text" name="production_area">
   	<label for="comment">コメント</label>
   	<textarea name="comment" rows="5" cols="33"></textarea>
   	<label for="img">画像</label>
   	<input type="file" name="img">
   	<input type="submit" value="登録"></input>
  </form>
  </div>
</body>
</html>