<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
	<div class="wrapper">
	<h2>管理者用</h2>
	<div class="form-wrapper">
	<div class="error">
		{{error}}
	</div>
  	<form method="POST">
    	<div class="form-item">
     		<label for="password">パスワード</label>
    		<input type="password" name="password" required="required">
    	</div>
    	<div class="button-wrapper">
    		<input type="submit" id="signin" value="ログイン"></input>
    	</div>
  	</form>
  </div>
  </div>
</body>
</html>