<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="px-2">
	<div class="wrapper">
	<h2>管理者用</h2>
	<div class="nav category-tabs mb-3">
		{% for c in categories %}
			{% if loop.index == 1 %}
			<a href="#{{c.id}}" class="nav-item category-tab active" data-bs-toggle="tab">{{c.category_name}}</a>
			{% else %}
    	<a href="#{{c.id}}" class="nav-item category-tab" data-bs-toggle="tab">{{c.category_name}}</a>
    	{% endif %}
   	{% endfor %}
	</div>
	<div class="tab-content mb-4">
	{% for c in categories %}
	{% if loop.index == 1 %}
	<div id="{{c.id}}" class="tab-pane active show">
	{% else %}
	<div id="{{c.id}}" class="tab-pane">
  {% endif %}
		<div class="row">
    {% for p in products %}
    	{% if p.category_id == c.id %}
			<div class="card col-6 bg-light">
				<img src="/static/img/{{p.img_name}}" class="rounded mt-2">
				<div class="card-img-overlay">
					{% if p.stock_flg == 0 %}
					<span class="fs-2 fw-bold text-danger bg-warning badge position-absolute top-0 start-0">品切れ</span>
					{% elif p.recommend_flg == 1 %}
					<span class="fs-5 fw-bold text-light bg-danger badge position-absolute top-0 end-0"><i>おすすめ</i></span>
					{% endif %}
				</div>
				<div class="card-body">
					<div class="card-title h5">{{p.product_name}}<span class="small">({{p.production_area}}産)</span></div>
					<div class="text-end h5 text-danger">
						<small class="text-muted"> {{p.quantity}} </small>
						<span>¥{{p.price}}</span>
						<span>(¥{{(p.price * 1.1)|int}})</span>
					</div>
    			<div class="card-text fs-6 lh-1">{{p.comment}}</div>
    			<hr>
    			<div class="row">
    				<button class="btn btn-primary rounded-pill col" data-bs-toggle="modal" 
    				data-bs-target="#updateModal" onclick="setupModal({{p}})" style="z-index:1">編集</button>
    				&nbsp;&nbsp;&nbsp;
    				<button class="btn btn-danger rounded-pill col" style="z-index:1">削除</button>
    			</div>
  			</div>
			</div>
			{% endif %}
  	{% endfor %}
  	</div>
  </div>
  {% endfor %}
  </div>
  <hr>
  <h4>商品追加</h4>
  <form method="POST" enctype="multipart/form-data" class="mx-3 px-4 py-3 card bg-light">
  	<div class="mb-2">
    	<label for="product_name" class="form-label">商品名</label>
   		<input type="text" class="form-control" name="product_name" required="required">
   	</div>
   	<div class="mb-2">
   		<label for="category_id">分類</label>
   		<select name="category_id" class="form-select">
   		{% for c in categories %}
   			<option value="{{c.id}}" label="{{c.category_name}}"></option>
   		{% endfor %}
   		</select>
   	</div>
   	<div class="mb-2">
   		<label for="production_area">産地</label>
   		<input type="text" class="form-control" name="production_area">
   	</div>
   	<div class="row mb-2">
   		<div class="col-md-6">
   			<label for="quantity">数量</label>
   			<input type="text" class="form-control" name="quantity" placeholder="1袋, 1/2カット, 1本, etc">
   		</div>
   		<div class="col-md-6">
   			<label for="price">価格 (税抜)</label>
   			<input type="number" class="form-control" name="price" required="required">
   		</div>
   	</div>
   	<div class="mb-2">
   		<label for="comment">コメント</label>
   		<textarea name="comment" class="form-control" rows="5" cols="33"></textarea>
   	</div>
   	<div class="mb-4">
   		<label for="img">画像</label>
   		<input type="file" class="form-control" name="img">
   	</div>
   	<input type="submit" class="btn btn-primary btn-lg" value="登録">
  </form>
	</div>
	<!-- 更新モーダル start -->
	<div class="modal fade" id="updateModal">
  	<div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">更新</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form name="updateForm" onsubmit="return false" class="mx-3 px-4 py-3 card bg-light">
        	<input type="hidden" name="product_id">
  				<div class="mb-1">
    				<label for="product_name" class="form-label">商品名</label>
   					<input type="text" class="form-control" name="product_name" required="required">
   				</div>
   				<div class="mb-1">
   					<label for="category_id">分類</label>
   					<select name="category_id" class="form-select">
   					{% for c in categories %}
   						<option value="{{c.id}}" label="{{c.category_name}}"></option>
   					{% endfor %}
   					</select>
   				</div>
   				<div class="mb-1">
   					<label for="production_area">産地</label>
   					<input type="text" class="form-control" name="production_area">
   				</div>
   				<div class="row mb-1">
   					<div class="col-md-6">
   						<label for="quantity">数量</label>
   						<input type="text" class="form-control" name="quantity" placeholder="1袋, 1/2カット, 1本, etc">
   					</div>
   					<div class="col-md-6">
   						<label for="price">価格 (税抜)</label>
   						<input type="number" class="form-control" name="price" required="required">
   					</div>
   				</div>
   				<div class="mb-1">
   					<label for="comment">コメント</label>
   					<textarea name="comment" class="form-control" rows="5" cols="33"></textarea>
   				</div>
  			</form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="send">更新</button>
      </div>
    </div>
  	</div>
	</div>
	<!-- 更新モーダル end -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script type="text/javascript">
  	const setupModal = (product) => {
  		const form = document.forms.updateForm;
  		form.product_id.value = product.id
  		form.product_name.value = product.product_name
  		form.category_id.value = product.category_id
  		form.production_area.value = product.production_area
  		form.quantity.value = product.quantity
  		form.price.value = product.price
  		form.comment.value = product.comment
  	}

  	document.getElementById('send').addEventListener('click', () => {
      const form = document.forms.updateForm;
      const id = form.product_id.value
      const product_name = form.product_name.value
  		const category_id = form.category_id.value
  		const production_area = form.production_area.value
  		const quantity = form.quantity.value
  		const price = form.price.value
  		const comment = form.comment.value

  		//現在のスクロール位置
  		positionY = window.pageYOffset;
    	localStorage.setItem('positionY', positionY);

      fetch(`/admin/products/${id}`, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
        	product_name, category_id, production_area, quantity, price, comment
        })
      }).then(response => {
      	console.log(response);
        window.location.reload();
      });      
    })

    window.addEventListener('DOMContentLoaded', (event) => {
    	const positionY = localStorage.getItem('positionY');
    	if (positionY !== null) {
        scrollTo(0, positionY);
        localStorage.removeItem('positionY');
    	}
		});
  </script>
</body>
</html>